
nav{
    width:calc(100% - 330px) ;
    border-bottom: 1px solid #eee;
}
@media screen and (max-width:768px) {
    nav{
        width:100% ;
        
    }
}
h1{
    i{color: #E95420;}
}
details a{
display: inline-block;
margin-right: 3rem;
   width: 8rem;
   line-height: 2rem;
   border:2px solid #E95420 !important;
   text-decoration: none;
   border-radius: .5rem;
   text-align: center;
   background: #FDEEE9;
}
details a:hover{
    color: #FDEEE9;
    background: #E95420;
}
summary{
    text-indent: 1rem;
    line-height: 3rem;
    background: #F6F6F5;
    cursor: pointer;
}
.markdown-section div p{
    display: flex;
    justify-content: center;
    align-content: center;

a{flex: 1;
    margin-right: 0.5rem;
    line-height:3.5rem;
    border-radius: 1rem;
    text-align: center;
    border:2px solid #E95420 !important;
    
    text-decoration: none;
    font-size: 1.2rem;
    color: #E95420;
}
a:hover{
    color: #fff;
    background: #E95420;
}
}
table {
    img{
    height:4rem;}
    a{text-decoration: none;color: #333 !important;}
}
.photo{
    height:10rem;
    border-radius: 50%;
    border:.25rem solid lightgrey !important;
}