details a{
display: inline-block;
margin-right: 3rem;
   width: 8rem;
   line-height: 2rem;
   border:2px solid #E95420 !important;
   text-decoration: none;
   border-radius: .5rem;
   text-align: center;
   background: #FDEEE9;
}
details a:hover{
    color: #FDEEE9;
    background: #E95420;
}
summary{
    text-indent: 1rem;
    line-height: 3rem;
    background: #F6F6F5;
}
.markdown-section div p{
    display: flex;
    justify-content: center;
    align-content: center;
a{flex: 1;
    margin-right: 0.5rem;
    line-height:3.5rem;
    border-radius: 0.5rem;
    text-align: center;
    background: #E95420;
    text-decoration: none;
    font-size: 1.5rem;
    color: #FDEEE9;
}
a:hover{
    color: #fff;
    background: #c24416;
}
}
.photo{
    height:10rem;
    border-radius: 50%;
    border:.25rem solid lightgrey !important;
}